<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Bemutatkozas
RewriteRule ^/Bemutatkozas/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Bemutatkozas/index.html [L]
</IfModule>